#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


services:
	signInFormFactory:
		factory: App\Modules\FrontendModule\Forms\SignInFormFactory
		inject: true
