#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	translator:
		debugMode: %debugMode%
		logging: false
		appDir: %appDir%
		namespace: layout
		default: App\Model\Languages\LanguageCode::CS
		languages: App\Model\Languages\LanguageCode::getDictionaries(%appDir%/Presenters/translations)

	files:
		data: %wwwDir%/data


application:
	mapping:
		Admin: ['App\Modules\AdminModule\Presenters', '*', '*\*Presenter']
		Frontend: ['App\Modules\FrontendModule\Presenters', '*', '*\*Presenter']
		Error: App\Presenters\*Presenter


session:
	expiration: 14 days


tracy:
	bar:
		- Flexsyscz\Universe\Localization\TranslationPanel

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.name%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes


dbal:
	driver: mysqli
	host: %database.host%
	database: %database.name%
	username: %database.user%
	password: %database.password%


extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	model: App\Extensions\ModelExtension


orm:
	model: App\Model\Orm


services:
	router: App\Router\RouterFactory::createRouter
	translator: Flexsyscz\Universe\Localization\Translator(%translator%, ...)
	translatorNamespaceFactory: Flexsyscz\Universe\Localization\TranslatorNamespaceFactory
	formFactory: App\Forms\FormFactory
	dateTimeProvider:
		factory: Flexsyscz\Universe\Utils\DateTimeProvider
		inject: true
	authenticator:
		factory: App\Security\Authentication\Authenticator
		inject: true
	receiver: Flexsyscz\Universe\FileSystem\Receiver
	fileManager: Flexsyscz\Universe\FileSystem\FileManager(%files%)