{templateType App\Presenters\BaseTemplate}

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex">
				<div class="flex-grow-1">
					<small class="text-muted">&copy; {date(Y)} {_'!layout.title'}</small>
				</div>
				<div n:if="$user->isLoggedIn()" class="ms-5">
					<a n:href=":Frontend:Sign:out">
						<small><i class="fas fa-sign-out-alt me-2"></i>{_'!layout.footer.signOut'}</small>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>